<div class="container-fluid __root">
  <div class="__title" style="margin: 0.5rem 0">Customer Registration</div>
  <div>
    <button class="btn btn-light btn__action __raised">New</button>
    <button class="btn btn-light btn__action __raised" (click)="submit()">
      Submit
    </button>
  </div>
  <hr />
  <div class="row" style="align-items: center">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-4">Customer ID</div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">TBA</div>
            <div class="col-xl-6" style="color: red">New*</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="row" style="align-items: center">
        <div class="col-xl-6">Registration Date</div>
        <div class="col-xl-6">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="form.registrationDate"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Customer Type</div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <select
                class="form-control form__input"
                [(ngModel)]="selectedFilter"
                (change)="onTypeFilterChanged($event)"
              >
                <option *ngFor="let item of typeFilters" [value]="item.value">
                  {{ item.text }}
                </option>
              </select>
            </div>
            <div class="col-xl-6">
              <select
                class="form-control form__input"
                [(ngModel)]="form.customerType"
              >
                <option *ngFor="let item of customerTypes" [value]="item.value">
                  {{ item.text }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Sector (Optional)</div>
        <div class="col-xl-7">
          <select class="form-control form__input" [(ngModel)]="form.sector">
            <option *ngFor="let item of sectors" [value]="item.value">
              {{ item.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Name<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <div class="autocomplete">
                <input
                  id="nameTitleSuggest"
                  type="text"
                  placeholder="U/Daw"
                  class="form-control form__input"
                  [(ngModel)]="form.title"
                />
              </div>
            </div>
            <div class="col-xl-6">
              <input
                [(ngModel)]="form.name"
                type="text"
                placeholder="Name"
                class="form-control form__input"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Alias Name (Optional)</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.aliasName"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">IC/NRIC<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.nrcNo"
          />
        </div>
        <div class="col-xl-1" style="padding-left: 0 !important">
          <button class="btn btn-light btn__check __raised">Check</button>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Passport No</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.passportNo"
          />
        </div>
        <div class="col-xl-1" style="padding-left: 0 !important">
          <button class="btn btn-light btn__check __raised">Check</button>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">
          Father's Name<span style="color: red">*</span>
        </div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fatherName"
          />
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="row">
        <div class="col-xl-6">Photo</div>
        <div class="col-xl-6">
          <input
            type="file"
            id="photoInput"
            style="display: none"
            (change)="onPhotoChoosen($event)"
          />
          <img
            *ngIf="selectedPhoto.src"
            class="image__container"
            (click)="pickImage()"
            [src]="selectedPhoto.src"
          />
          <div
            *ngIf="!selectedPhoto.src"
            class="image__container"
            (click)="pickImage()"
          >
            <i class="far fa-user" style="font-size: 5rem; color: #efefef"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="__title" style="margin: 1rem 0">Identification</div>
  <hr />
  <div class="row">
    <div class="col-xl-7">
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Date of Birth</div>
        <div class="col-xl-5">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="form.dateOfBirth"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Gender</div>
        <div class="col-xl-8">
          <div class="row">
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="gender"
                value="1"
                [(ngModel)]="form.sex"
              />
              <div style="padding-left: 0.5rem">Male</div>
            </div>
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="gender"
                value="2"
                [(ngModel)]="form.sex"
              />
              <div style="padding-left: 0.5rem">Female</div>
            </div>
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="gender"
                value="0"
                [(ngModel)]="form.sex"
              />
              <div style="padding-left: 0.5rem">Other</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Martial Status</div>
        <div class="col-xl-8">
          <div class="row">
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="status"
                value="1"
                [(ngModel)]="form.mStatus"
              />
              <div style="padding-left: 0.5rem">Single</div>
            </div>
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="status"
                value="2"
                [(ngModel)]="form.mStatus"
              />
              <div style="padding-left: 0.5rem">Married</div>
            </div>
            <div class="col-xl-4" style="display: flex; align-items: center">
              <input
                type="radio"
                name="status"
                value="0"
                [(ngModel)]="form.mStatus"
              />
              <div style="padding-left: 0.5rem">Other</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">
          Document Associated <span style="color: red">*</span>
        </div>
        <div class="col-xl-8">
          <div class="row" style="align-items: center">
            <div class="col-xl-3">
              <button
                class="btn btn-light btn__check __raised"
                (click)="chooseFile()"
              >
                Choose File
              </button>
              <input
                multiple
                id="fileInput"
                type="file"
                style="display: none"
                (change)="onFileChoosen($event)"
              />
            </div>
            <div *ngIf="!selectedFiles.length" class="col-xl-9">
              No File Choosen
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Occupation</div>
        <div class="col-xl-7">
          <select
            class="form-control form__input"
            [(ngModel)]="form.occupation"
          >
            <option *ngFor="let item of occupations" [value]="item.value">
              {{ item.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Telephone<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.phone"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Email</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.email"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Nationality</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.nationalityStatus"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="selectedFiles.length">
    <div class="col-xl-9">
      <table class="table" style="border-collapse: separate">
        <thead>
          <tr style="background-color: skyblue">
            <th style="text-align: center">File Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedFiles">
            <td style="text-decoration: underline; text-align: center">
              {{ item.file.name }}
            </td>
            <td style="text-align: center">
              <i
                class="fas fa-times-circle"
                style="color: red; font-size: 1.5rem"
                (click)="deleteFile(item.key)"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="__title" style="margin: 1rem 0">Address</div>
  <hr />
  <div class="row">
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-4">Unit</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.houseNo"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          Builting Number<span style="color: red">*</span>
        </div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.buildingName"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">Township<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <div class="autocomplete">
            <input
              id="townshipSuggest"
              type="text"
              class="form-control form__input"
              [(ngModel)]="form.township"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">
          Division/State<span style="color: red">*</span>
        </div>
        <div class="col-xl-7">
          <div class="autocomplete">
            <input
              id="divisionSuggest"
              type="text"
              class="form-control form__input"
              [(ngModel)]="form.division"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="row">
        <div class="col-xl-4">Block</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.ward"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">Street<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.street"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">Country<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <div class="autocomplete">
            <input
              id="countrySuggest"
              type="text"
              class="form-control form__input"
              [(ngModel)]="form.country"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4">Postal/Zip (Optional)</div>
        <div class="col-xl-7">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.postalCode"
          />
        </div>
      </div>
    </div>
  </div>
</div>
