<div class="container-fluid __root">
  <div class="__title" style="margin: 0.5rem 0">
    International Remittance (Send Money)
  </div>
  <div>
    <button class="btn btn-light btn__action __raised" (click)="new()">
      New
    </button>
    <button class="btn btn-light btn__action __raised" (click)="submit()">
      Submit
    </button>
  </div>
  <hr />
  <div class="row" style="align-items: center">
    <div class="col-xl-8">
      <div class="row">
        <div class="col-xl-4">Remit Serial No</div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">0</div>
            <div class="col-xl-6" style="color: red">New*</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="row" style="align-items: center">
        <div class="col-xl-6">Transaction Date</div>
        <div class="col-xl-6">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="form.savedate"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-8">
      <div class="row" style="align-items: center">
        <div class="col-xl-4">
          From Country<span style="color: red">*</span>
        </div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <select
                (change)="onCountryChanged('fromcountry')"
                class="form-control form__input"
                [(ngModel)]="form.fromcountry"
              >
                <option
                  *ngFor="let item of countries"
                  [value]="item.countryName"
                >
                  {{ item.countryName }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">To Country<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <select
                (change)="onCountryChanged('tocountry')"
                class="form-control form__input"
                [(ngModel)]="form.tocountry"
              >
                <option
                  *ngFor="let item of countries"
                  [value]="item.countryName"
                >
                  {{ item.countryName }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">Currency<span style="color: red">*</span></div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <select
                class="form-control form__input"
                [(ngModel)]="form.currencycode"
              >
                <option *ngFor="let item of countries" [value]="item.currency">
                  {{ item.currency }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-4">
          Transfer Amount<span style="color: red">*</span>
        </div>
        <div class="col-xl-7">
          <div class="row" style="padding: 0">
            <div class="col-xl-6">
              <input
                (change)="onAmountChanged($event)"
                [(ngModel)]="form.amount"
                type="text"
                class="form-control form__input"
                style="text-align: right"
                value="0.00"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="__title" style="margin: 1rem 0">Transaction Detail</div>
  <hr />
  <div class="row">
    <div class="col-xl-6">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Purpose of Transaction</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <select class="form-control form__input" [(ngModel)]="form.t1">
            <option
              *ngFor="let item of transactionPurposes"
              [value]="item.value"
            >
              {{ item.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Method of Payment</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <select class="form-control form__input" [(ngModel)]="form.n1">
            <option *ngFor="let item of paymentMethods" [value]="item.value">
              {{ item.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Method of Collection</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <select class="form-control form__input" [(ngModel)]="form.n2">
            <option *ngFor="let item of collectionMethods" [value]="item.value">
              {{ item.text }}
            </option>
          </select>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Remark</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <textarea
            class="form-control form__input"
            [(ngModel)]="form.fromremark"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="col-xl-6" *ngIf="form.n2 == '1'">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Bank Name/Branch</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t4"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Owner's Name</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t5"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Account No.</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t6"
          />
        </div>
      </div>
    </div>

    <div class="col-xl-6" *ngIf="form.n2 == '2'">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Wallet</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t4"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Name</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t5"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Ph No.</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t6"
          />
        </div>
      </div>
    </div>

    <div class="col-xl-6" *ngIf="form.n2 == '3'">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Name</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t4"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">NRC</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t5"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Address</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t7"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Postal Code</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t8"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Phone No.</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.t6"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="__title" style="margin: 1rem 0">Sender Information</div>
  <hr />
  <div class="row">
    <div class="col-xl-6">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">
          Sender Customer ID<span style="color: red">*</span>
        </div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <div class="search__wrapper">
            <i
              class="fas fa-search search__icon"
              (click)="browseCustomers('fromcustomerid', $event)"
            ></i>
            <input
              class="search__input"
              placeholder="Search"
              [(ngModel)]="form.fromcustomerid"
            />
            <i
              class="fas fa-times-circle search__icon"
              (click)="clearBrowser('fromcustomerid')"
            ></i>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Name<span style="color: red">*</span></div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromname"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">NRC No<span style="color: red">*</span></div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromnrcno"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Unit</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromunit"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Building Name</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.frombuildingname"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Township</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            id="fromTownshipSuggest"
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromtownship"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Division/State</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            id="fromDivisionSuggest"
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromdivision"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Contact Phone No</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromphoneno"
          />
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Date of Birth</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="form.fromdob"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Passport No</div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.frompassportno"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Block</div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromblock"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Street</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromstreet"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Country</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <div class="autocomplete">
            <input
              id="senderCountrySuggest"
              type="text"
              class="form-control form__input"
              [(ngModel)]="form.sendercountry"
            />
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Postal/Zip</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.frompostalcode"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Email</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.fromemail"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="__title" style="margin: 1rem 0">Receiver Information</div>
  <hr />
  <div class="row">
    <div class="col-xl-6">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Receiver Customer ID</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <div class="search__wrapper">
            <i
              class="fas fa-search search__icon"
              (click)="browseCustomers('tocustomerid', $event)"
            ></i>
            <input
              class="search__input"
              placeholder="Search"
              [(ngModel)]="form.tocustomerid"
            />
            <i
              class="fas fa-times-circle search__icon"
              (click)="clearBrowser('tocustomerid')"
            ></i>
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Name<span style="color: red">*</span></div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.toname"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">NRC No<span style="color: red">*</span></div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.tonrc"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Unit</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.tounit"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">
          Building Name<span style="color: red">*</span>
        </div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.tobuildingname"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Township<span style="color: red">*</span></div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            id="toTownshipSuggest"
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.totownship"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">
          Division/State<span style="color: red">*</span>
        </div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            id="toDivisionSuggest"
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.todivision"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">
          Contact Phone No<span style="color: red">*</span>
        </div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.tophoneno"
          />
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Date of Birth</div>
        <div class="col-xl-5" style="padding-left: 2.1rem">
          <input
            type="date"
            class="form-control form__input"
            [(ngModel)]="form.todob"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Passport No</div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.topassportno"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Block</div>
        <div div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.toblock"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Street<span style="color: red">*</span></div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.tostreet"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Country<span style="color: red">*</span></div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <div class="autocomplete">
            <input
              id="receiverCountrySuggest"
              type="text"
              class="form-control form__input"
              [(ngModel)]="form.receivercountry"
            />
          </div>
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Postal/Zip</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.topostalcode"
          />
        </div>
      </div>
      <div class="row" style="align-items: center">
        <div class="col-xl-5">Email</div>
        <div class="col-xl-6" style="padding-left: 2.1rem">
          <input
            type="text"
            class="form-control form__input"
            [(ngModel)]="form.toemail"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="browser" class="__modal">
  <div class="modal__content">
    <div style="display: flex; justify-content: flex-end">
      <i class="fas fa-times-circle" (click)="closeBrowser($event)"></i>
    </div>
    <div class="row" style="align-items: center" *ngFor="let filter of filters">
      <div class="col-xl-2" style="padding: 2px">
        <select class="form-control form__input" [(ngModel)]="filter.field">
          <option *ngFor="let item of fields" [value]="item.value">
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col-xl-2" style="padding: 2px">
        <select class="form-control form__input" [(ngModel)]="filter.operator">
          <option *ngFor="let item of operators" [value]="item.value">
            {{ item.text }}
          </option>
        </select>
      </div>
      <div class="col-xl-3" style="padding: 2px">
        <input
          type="text"
          class="form-control form__input"
          [(ngModel)]="filter.search"
        />
      </div>
      <button
        class="btn icon__btn"
        (click)="search()"
        style="background-color: #ececec"
      >
        <i class="fas fa-search"></i>
      </button>
      <button class="btn icon__btn" (click)="removeFilter(filter)">
        <i class="fas fa-times-circle" style="color: red"></i>
      </button>
      <button class="btn icon__btn" (click)="addFilter()">
        <i class="fas fa-plus-circle" style="color: blue"></i>
      </button>
    </div>
    <div class="row">
      <table *ngIf="customers.length" class="table __table">
        <thead>
          <tr>
            <th *ngFor="let field of fields">{{ field.text }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let customer of customers"
            (click)="selectCustomer(customer)"
          >
            <td>{{ customer.customerId }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.nrcNo }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
